/* -------------------------------секция главный экран--------------------------------------- */

/* общие стили */
/* section {

    padding: 50px 0;
    
} */
a {

    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px; 
    color: #CCC5B9; 
}

body {

    font-family: Inter, sans-serif;
    font-size: 16px; 
    color: #CCC5B9; 
    min-width: 320px; 

 }
/* общие стили */


.exclude-section { /* секция убарает все отступы  на главнрм экране */

    padding: initial; 

}
/* меню навигации */
.navbar-nav .nav-link {

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color :#CCC5B9 !important; 

}
.navbar-nav {

    margin: auto; /* Устанавливаем отступы автоматически для выравнивания по центру */
    display: flex;
}
.navbar-nav .nav-item {

    margin-right: 60px;

}
.navbar-brand {
    margin-left: auto;
}
/* меню навигации */
.mars-title h1 {

    font-weight: 400;
    font-size: 20px;
    color :#CCC5B9
}

/* кнопка */
.mars-button {

    position: relative; 
    display: inline-block;

}
.mars-button img {

    display: block;
    width: 100%; 
    height: auto; 
    border-radius: 5px;
    /* transition: transform 0.3s ease;  */



}
.mars-button span {

    font-weight: 400;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 18px;
    /* transition: opacity 0.3s ease; /* Добавляем плавный переход */
    
}

/* .mars-button:hover img {
    transform: scale(1.1); 

}

.mars-button:hover span {

    opacity: 1;
} */

/* кнопка */
/* -------------------------------секция главный экран--------------------------------------- */



/* -------------------------------секция что мы делаем--------------------------------------- */

.wark-section {

    margin-top: 50px;
}
.image-card {

    width: 256px;
    height: 256px;
    
}

.card-title {

    font-family: Inter, sans-serif;
    text-transform: uppercase;
    font-size: 23px; 
    color: #FAFAFF; 
    font-weight: 900;
    line-height: 30px;
    

}
.card-title_item {

    font-family: Inter;
    font-size: 18px; 
    color: #FAFAFF; 
    max-width: 220px;
    max-height: 100px;
    font-weight: lighter;
    line-height: 20px;
    
}

.card-title  {

    top: 39px;
    left: 39px;
}

/* -------------------------------секция что мы делаем --------------------------------------- */

/* -------------------------------секция сайт визитка--------------------------------------- */

.vizitka-image {

    background-image: url(/image/Задний\ фон.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.vizitka-text {

    margin-top: 60px;

}

.vizitka-text span {

    font-size: 40px;
    color:#020607;
}

.vizitka-text h2 {

    font-weight: 900;
    font-size: 90px;
    color:#ffd769;
}
.vizi-text {

    background: linear-gradient(90deg,  #FE0000 0%, #FED700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.vizi-span {

    font-size: 40px;
    font-weight: 300;
    color: #020607;


}

.vizitka-text_items {

    width: 440px;
    height: 210px;
    color: #020607;
    line-height: 30px;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 5%;


}

.vizitka-text h6 {

    font-size: 40px;
    color: #ffd769;

}

.text-dark {

    font-size: 40px;
    color: #020607;

}

/* -------------------------------секция сайт визитка--------------------------------------- */

/* -------------------------------секция card_conteiner--------------------------------------- */
.card_conteiner {
    margin-top: 70px;
}

 .card-body-section {

    padding: 30px 40px 0 40px;
 } 
.card-title-section {

    font-size: 25px;
    color:#ffd769;
    text-transform: uppercase;
    font-weight: 900;

}

.card-text-section {

    width: 220px;
    height: 100px;
    margin-top: 40px;
}

.card-text-section {

    font-size: 18px;
    color: #FAFAFF;
    line-height: 20px;
    font-weight: 300;

}
.mars-button-topcard {

    margin-top: 80px;

}


/* -------------------------------секция card_conteiner--------------------------------------- */

/* -------------------------------секция bord-top--------------------------------------- */
.bord-top-image {

    background-image: url(/image/Задній\ фон\ Бот.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    position: relative;

}

/* 
.bord-top-image .board_text_bady .board_text_bottom {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.board_text_bady {

    width: 510px;
    font-size: 40px;
    color: #020607;
    font-weight: 900;
    margin: 0 auto;


}

.board_text_bottom {

    font-size: 25px;
    line-height: 30px;
    color: #FAFAFF;
    margin-top: 30px;

} 
.bordy-text {

    font-weight: 900;
}

.board_text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Чтобы содержимое выровнялось по центру */
}

.board_text_bady, .board_text_bottom {

    display: block; /* Для корректного отображения внутри блока .board_text */
}

/* -------------------------------секция bord-top--------------------------------------- */
/* -------------------------------секция bord-center--------------------------------------- */

.bord-center-image {

    background-image: url(/image/Задник\ ракета.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    position: relative;
}

.board-bady {

    height: 400px;
    width: 205px;
}
 .board-body-left, .board-body-right{

    margin-top: 150px;
}

/* -------------------------------секция bord-center--------------------------------------- */
.board-image-top {

    background-image: url(/image/Задник\ космос\ 2.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex; /* Делаем контейнер .card flex-контейнером */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: center; 
    /* position: relative; */

}
.card-top- {

    position: absolute;

}



/* -------------------------------секция bord-top--------------------------------------- */

/* -------------------------------секция why-us--------------------------------------- */
.why-us {

    margin-top: 20px;
    margin-right: 120px;
    
    
} 

.why-us-text h6 {

   font-size: 35px;
   color: #020607;
   font-weight: 900;
}

.why-us-text span {

    font-size: 23px;
    font-weight: 300;
    
   
}

/* -------------------------------секция why-us-card--------------------------------------- */
.why-us-card {

    margin-top: 30px;
}

.card-top {

    display: flex; /* Делаем контейнер .card flex-контейнером */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: flex;
    align-items: center;
}
.card-conteiner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.card-description {

    margin-top: 90px;

}
.card-description h6 {

    font-size: 35px;
    font-weight: 900;
    color:#ffd769;
}


.card-text  {

    margin-top: 5px;
}
.card-text span {

    font-size: 18px;
    font-weight: 300;
    color: #FAFAFF;

}


/* -------------------------------секция why-us-card--------------------------------------- */

/* -------------------------------секция form --------------------------------------- */
.form-section {

    margin-top: 40px;
}

.form-image {
    background-image: url(/image//Задник\ заявка.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 375px;
    justify-content: center;
    align-items: center;
    display: flex;


}
.form-container {

    justify-content: center;
    width: 100vh;

}
.form-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;

} 
.form-inline {

    display: flex;
    gap: 10px;
}
.form-control {

    width: 380px;
    height: 60px;
    border-radius: 30px;
    border: none;
}
.form-control::placeholder {

    text-align: right;
    font-size: 18px;
    font-weight: 300;
    color: #7C7C7466;
    padding-right: 20px;

}
.form-text-center h6 {

    font-size: 35px;
    font-weight: 900;
    color: #020607;;

} 
.form-text-center {

    margin-top: 40px;
    transform: translateY(-40px);
}
/* -------------------------------секция form --------------------------------------- */

/* -------------------------------секция footer-image --------------------------------------- */

.footer-image {

    background-image: url(/image/Задник\ контакти.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-conteiner {/* контейнер img*/

    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Сдвинуть контейнер вправо */
    margin-top: -120px; /* Поднять контейнер вверх на 20px */

}

.image-conteiner-items {/* картинка */

    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.text-conteiner { /* контейнер 2 */

    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Сдвинуть контейнер вправо */
}

.text-conteiner h6 {/* контейнер 2  текст */

    font-size: 20px;
    font-weight: 700;
    color:#ffd769;

}

.icon-conteiner { /* контейнер 3 */

    width: 400px;
    height: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px; 


}
.icon-conteiner {

    width: 40px;
    height: 40px;

}

.image-conteiner-items {
    margin-right: 10px;
}

.prava-conteiner {/* контейнер 3 */

    position: absolute;/* чтоб двигать контейнер */
    margin-top: 100px;
    margin-left: 150px;
   
}

.prava-conteiner h6 {

    font-size: 16px;
    font-weight: 400;
    color:#AEB2AA66;
    opacity: 0.5;/*  gпрозрачность */
}



/* -------------------------------секция footer-image --------------------------------------- */

/* -------------------------------секция banner --------------------------------------- */
.image-banner  {

    background-image: url(/image/banner.png);
    height: 840px;
    position: relative;/*  примеряется к родителя чтоб двигать banner-title-top */
    background-repeat: no-repeat;
    background-size: cover; /* Изображение охватывает весь контейнер */
    background-position: center;

}

.banner-title-top {

    position: absolute;
    
    top: 550px;
    right: 150px;
    
}
.banner-title-top h1 {

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 5%;
    color: #CCC5B9;


}
/* -------------------------------секция banner --------------------------------------- */

/* -------------------------------top -section --------------------------------------- */
.top-section-image {

    background-image: url(/image/Задник\ космос\ 2.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex; /* Делаем контейнер .card flex-контейнером */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: center; 

}

.top-section-description, .top-section-items {

    text-align: center;
    margin-top: 40px;
}
.top-section-description h6 {

    font-size: 40px;
    font-weight: 900;
    color:#020607;
}
.top-section-items {

    font-size: 25px;
    font-weight: 300;
    color: #FAFAFF;
}

.mars-button-top-section {

    text-align: center;
    margin-top: 40px;

}
/* -------------------------------top -section --------------------------------------- */

.space-star-image {/*  фон */

    background-image: url(/image/Задник\ ракета.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;/* делает колонки */
    align-items: center;
    padding: 0 20px;
}
.column-space-star-left, .column-space-star-right {/*  ширина контеинера */

    height: 500px;
    width: 250px;
    
}
.column-space-star-left h6, .column-space-star-right h6 {/*  ширифты */

    font-size: 40px;
    font-weight: 900;
    /* color:#ffd769; */


}
.space-text { /* градиент */

    background: linear-gradient(90deg,  #FE0000 0%, #FED700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}/* градиент */

.column-space-star-left {/*  отступы контейнеров */

    margin-right: 200px;
    margin-left: 140px;
}
.column-space-star-right {

    margin-right: 140px ;
}


.column-space-star-left p, .column-space-star-right p {

    font-size: 20px;
    font-weight: 300px;
    letter-spacing: 5%;
    color: #252422;
    


}
/* -------------------------------space-star --------------------------------------- */


/* -------------------------------form-in-line --------------------------------------- */
.form-in-line-top {

    margin-top: 40px;
}
.form-img-conteiner {/*  картинка фон */

    background-image: url(/image/Задник\ заявка.png);
    width: 100%;
    height: 375px;
    background-size: cover;
    background-position: center;
}
.form-conteiner-top {/*   контейнер формы  */

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;/*   растянуть на весь блок */

}
.form-conteiner-top-text {/* Абсолютное позиционирование для контейнера  родителбf lex */

    position: absolute; /* Абсолютное позиционирование */
    margin-top: -200px;
  

}
.form-conteiner-top-text h6 {

    font-size: 40px;
    color: #252422;
    font-weight: 900;

}

.form-inline-top {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%; /*заставляет форму занимать всю доступную ширину родительского  */
    gap: 5px; /* Отступы между элементами формы */

}

/* -------------------------------form-in-line --------------------------------------- */
/* -------------------------------card-top-wark --------------------------------------- */
.card-top-wark-section {

    margin-top: 30px;
}
.conteiner-card-top-wark { /* контейнер */

    display: flex;
    justify-content: center;
    flex-direction: row;
   
    height: 375px;
    /*flex-wrap: wrap; перенос флекс элемента*/
    box-sizing: border-box;
    gap:5px;
}
.card-top-wark {  /* карта */

    width: 345px; 
    height:256px;
    border: none;
  
    position: relative;
    border-radius: 30px;
    margin: 20px;

}


.card-title-top-wark { /* карта  описанте*/

    position: absolute;
    top: 20px;
    left: 40px;
}

.card-title-top-wark h5 {/* карта  описанте*/

    font-weight: 900;
    font-size: 23px;
    color: #FAFAFF;

}

.card-item-top-wark {

    position: absolute;
    bottom: 10px;
    left: 20px; 
    margin: 10px;
    max-width: 220px;
    max-height: 100px;
  
}

.card-item-top-wark h6 {

    font-weight: 300;
    font-size: 18px;
    color: #FAFAFF;
    letter-spacing: 5%;
}
/* -------------------------------card-top-wark --------------------------------------- */
     