.swiper {
  width: 700px;
  height: 300px;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {

  /* top: 50%;
  transform: translateY(-50%); */

  width: 75px;
  height: 75px;
  position: absolute;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  z-index: 1000;

}
.swiper-container {

  width: 100%;
  height: 100%;
}
/* .swiper-button-prev,
.swiper-button-next {
  width: 0;
  height: 0;
  display: none;
} */

.swiper-button-prev {
  background-image: url(/image/стрела\ левая.png);
 
  
}

.swiper-button-next {
  background-image: url(/image/стрела\ правая.png);
}

.swiper-scrollbar {
  display: none;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

.card-top-wark-section {

  margin-top: 30px;
}
.conteiner-card-top-wark { /* контейнер */

  display: flex;
  justify-content: center;
  flex-direction: row;
 
  height: 375px;
  /*flex-wrap: wrap; перенос флекс элемента*/
  box-sizing: border-box;
  gap:5px;
}
.card-top-wark {  /* карта */

  width: 345px; 
  height:256px;
  border: none;

  position: relative;
  border-radius: 30px;
  margin: 20px;

}


.card-title-top-wark { /* карта  описанте*/

  position: absolute;
  top: 20px;
  left: 40px;
}

.card-title-top-wark h5 {/* карта  описанте*/

  font-weight: 900;
  font-size: 23px;
  color: #FAFAFF;

}

.card-item-top-wark {

  position: absolute;
  bottom: 10px;
  left: 20px; 
  margin: 10px;
  max-width: 220px;
  max-height: 100px;

}

.card-item-top-wark h6 {

  font-weight: 300;
  font-size: 18px;
  color: #FAFAFF;
  letter-spacing: 5%;
}